<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Home</title>

    <head th:fragment="css">
        <link rel = "stylesheet" th:href = "@{/css/bootstrap.min.css}">
        <link rel = "stylesheet" th:href = "@{/css/style.css}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    </head>

    <head th:fragment="js">
        <script th:src = "@{/js/boostrap.min.js}"></script>
        <script th:src = "@{/jquery/jquery-3.3.1.min.js}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    </head>

</head>

<body>


<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" >SIPEG</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pegawai/tambah">Tambah Pegawai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jabatan/tambah">Tambah Jabatan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pegawai/cari">Cari Pegawai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jabatan/viewall">Lihat Semua Jabatan</a>
            </li>
        </ul>
    </div>
</nav>


<footer th:fragment="footer">
    <div class="container" style="text-align: center; font-size: 14px; ">
	<span >Made with <span style="color: #fd0864">💔</span> and <span style="color: #fff000">&#128557;</span> by <a href="https://github.com/Apap-2018/tugas1_1606874596">Nabil Tegar</a>
    </div>
</footer>
</body>
</html>