<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Tambah Berhasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading" th:text="'Pegawai dengan NIP ' + ${pegawai.getNip()} + ' berhasil ditambahkan'"></h4>
            Yuk, jangan berhenti di sini, gunakan fitur yang lain.
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back Home</a>
    </div>


</div>

<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>